extends defaults/layout.pug
include defaults/mixins.pug
block content
    .container
        .card
            +addPicture('background.jpg', 'card__preview-background', 'width: 100%; height: 100%; object-fit: cover; border-radius: 0.5rem;')
            .card__number #### #### #### ####
            .card__holder
                .card__holder-label Card Holder
                .card__holder-name Jan Kowalski
        form.card-form
            label(for="card-number") Card Number
            input#card-number.card-form__input(type="text")
            select.card-form__input
                option 01
                option 02
                option 03
                option 04
                option 05
                option 06
                option 07
                option 08
                option 09
                option 10
                option 11
                option 12
            button.card-form__submit(type="submit") Submit