extends defaults/layout.pug
include defaults/mixins.pug
block content
    .container
        .card
            +addPicture('background.jpg', '', 'width: 100%; height: 100%; object-fit: cover; border-radius: 0.5rem; filter: brightness(75%);')
            .card__number #### #### #### ####
            .card__holder.card-info
                .card-info__label Card Holder
                .card-info__value Jan Kowalski
            .card__expiration.card-info
                .card-info__label Expires
                .card-info__value
                    span MM
                    span /
                    span YY
            .card__chip
                +addPicture('chip.png', '', 'width: 45px; height: 36px; object-fit: cover;')
            .card__logo
                +addPicture('visa.png', '', 'width: 70px; height: 38px; object-fit: cover;')
        form.card-form
            .form-field
                label.form-field__label(for="card-number") Card Number
                input#card-number.form-field__input(type="text")
            .form-field
                label.form-field__label(for="card-name") Card Name
                input#card-name.form-field__input(type="text")
            .form-row
                .form-field.form-row__col-expand
                    label.form-field__label(for="expiration-date") Expiration Date
                    .date-select
                        select#expiration-date.form-field__input(placeholder="Month")
                            option 01
                            option 02
                            option 03
                            option 04
                            option 05
                            option 06
                            option 07
                            option 08
                            option 09
                            option 10
                            option 11
                            option 12
                        select#expiration-date.form-field__input(placeholder="Year")
                            option 2019
                            option 2020
                            option 2021
                            option 2022
                            option 2023
                            option 2024
                            option 2025
                            option 2026
                            option 2027
                            option 2028
                            option 2029
                            option 2030
                .form-field.form-row__col-narrow
                    label.form-field__label(for="ccv") Card Name
                    input#ccv.form-field__input(type="text")
            button.card-form__submit(type="submit") Submit