extends defaults/layout.pug
include defaults/mixins.pug
block content
    .container
        .card#card
            +addPicture('background.jpg', '', 'width: 100%; height: 100%; object-fit: cover; border-radius: 0.5rem; filter: brightness(75%);')
            #number-card.card__number #### #### #### ####
            .card__footer
                #name-card.card__name.card-info
                    .card-info__label Card Holder
                    .card-info__value 
                        span#name-card-placeholder Ad Soyad
                #date-card.card__expiration.card-info
                    .card-info__label Expires
                    .card-info__value
                        span MM
                        span /
                        span YY
            .card__chip
                +addPicture('chip.png', '', 'width: 45px; height: 36px; object-fit: cover;')
            .card__logo
                +addPicture('visa.png', '', 'width: 70px; height: 38px; object-fit: cover;')
            #card__focus-frame.card__focus-frame
        form.card-form
            .form-field
                label.form-field__label(for="number-input") Card Number
                input#number-input.form-field__input(type="number")
            .form-field
                label.form-field__label(for="name-input") Card Name
                input#name-input.form-field__input(type="text")
            .form-row
                .form-field.form-row__col-expand
                    label.form-field__label(for="date-month-select") Expiration Date
                    .date-select
                        select#date-month-select.form-field__input(placeholder="Month")
                            option 01
                            option 02
                            option 03
                            option 04
                            option 05
                            option 06
                            option 07
                            option 08
                            option 09
                            option 10
                            option 11
                            option 12
                        select#date-year-select.form-field__input(placeholder="Year")
                            option 2019
                            option 2020
                            option 2021
                            option 2022
                            option 2023
                            option 2024
                            option 2025
                            option 2026
                            option 2027
                            option 2028
                            option 2029
                            option 2030
                .form-field.form-row__col-narrow
                    label.form-field__label(for="ccv-input") CCV
                    input#ccv-input.form-field__input(type="text")
            button.card-form__submit(type="submit") Submit