.card-form {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  &__submit {
    background-color: #0077b6;
    min-height: 2.5rem;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: $input-border-radius;
    box-shadow: $input-shadow;
  }
}

.form-field {
  &__label {
    display: block;
    font-size: 0.75rem;
    font-weight: bold;
  }
  &__input {
    width: 100%;
    min-height: 2.5rem;
    border: 1px solid #aaa;
    border-radius: $input-border-radius;
    padding: 0 0.5rem;

    &:focus {
      outline: none;
      border-color: #0077b6;
      box-shadow: $input-shadow;
    }
  }
}

.form-row {
  display: flex;
  gap: 1rem;

  &__col-expand {
    flex-grow: 2;
    flex-basis: 0;
  }

  &__col-narrow {
    flex-grow: 1;
    flex-basis: 0;
  }
}

.date-select {
  display: flex;
  gap: 0.5rem;
}
