.card {
  position: absolute;
  font-family: 'source-code-pro', monospace;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
  height: 240px;
  border-radius: $card-border-radius;
  box-shadow: $card-shadow;
  background-image: url('../../images/background.jpg');
  color: white;

  &__number {
    position: absolute;
    top: 50%;
    left: 0.5rem;
    padding: 0.25rem 0.5rem;
    width: 300px;
    height: 40px;
    transform: translateY(-50%);
  }

  &__footer {
    position: absolute;
    left: 0.25rem;
    bottom: 0.75rem;
    display: flex;
    gap: 0.5rem;
    width: calc(100% - 0.5rem);
  }

  &__name {
    flex-grow: 1;
    padding: 0.25rem 0.5rem;
  }

  &__expiration {
    padding: 0.25rem 0.5rem;
  }

  &__chip {
    position: absolute;
    top: 1rem;
    left: 1rem;
    background-image: url('../../images/chip.png');
  }

  &__logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-image: url('../../images/visa.png');
  }

  &__focus-frame {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #bbb;
    border-radius: $input-border-radius;
    transition: all 0.2s ease-in-out;

    &--active {
      opacity: 1;
    }
  }
}

.card-info {
  &__label {
    font-size: 0.7rem;
    color: gray;
    margin-bottom: 0.25rem;
  }

  &__value {
    text-transform: uppercase;

    &#name-card-placeholder {
      position: absolute;
      top: 21px;
    }
  }
}

.card__digit {
  position: absolute;
  font-size: 1.75rem;

  &#digit-0 {
    left: 0.5rem;
  }
  &#digit-1 {
    left: 1.5rem;
  }
  &#digit-2 {
    left: 2.5rem;
  }
  &#digit-3 {
    left: 3.5rem;
  }
  &#digit-4 {
    left: 5rem;
  }
  &#digit-5 {
    left: 6rem;
  }
  &#digit-6 {
    left: 7rem;
  }
  &#digit-7 {
    left: 8rem;
  }
  &#digit-8 {
    left: 9.5rem;
  }
  &#digit-9 {
    left: 10.5rem;
  }
  &#digit-10 {
    left: 11.5rem;
  }
  &#digit-11 {
    left: 12.5rem;
  }
  &#digit-12 {
    left: 14rem;
  }
  &#digit-13 {
    left: 15rem;
  }
  &#digit-14 {
    left: 16rem;
  }
  &#digit-15 {
    left: 17rem;
  }
}
