@keyframes up-disappear {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes down-appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.up-disappear {
  display: inline-block;
  animation: up-disappear 0.5s ease-in-out forwards;
}

.down-appear {
  display: inline-block;
  animation: down-appear 0.5s ease-in-out forwards;
}
