* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  height: 100vh;
  color: #444;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  width: 100%;
  max-width: 460px;
  border-radius: $card-border-radius;
  padding: 2rem;
  box-shadow: $card-shadow;
}
